<% content_for :carousel_style do %>
<style>

    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-top: 0px;
  }

    </style>
    <% end %>
<% content_for :carousel do %>

<div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item">
          <img src="http://twitter.github.com/bootstrap/assets/img/examples/slide-01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Easy. Simple. Convenient. </h1>
              <p class="lead">Book your airport parking on your phone. Heathrow, Gatwick, Stansted.</p>
              <a class="btn btn-large btn-primary" href="#">Learn more</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://twitter.github.com/bootstrap/assets/img/examples/slide-02.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Trusted partners</h1>
              <p class="lead">We pick the trusted parking companies with great service. Your confidence is our job!</p>
              <a class="btn btn-large btn-primary" href="#">Learn more</a>
            </div>
          </div>
        </div>
        <div class="item active">
          <img src="http://twitter.github.com/bootstrap/assets/img/examples/slide-03.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Sign up for early access</h1>
              <p class="lead">Air Park will soon launch a beta app. Sign up and we'll let you know when it's ready.</p>
              <a class="btn btn-large btn-primary" href="#">Sign up now!</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div>
<% end %>
<h3>Home</h3>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>